name: HACS Action
on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * *"
jobs:
  hacs_validation:
    runs-on: "ubuntu-latest"
    name: HACS Validation
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: HACS Action
        uses: "hacs/action@main"
        with:
          category: "integration"
          ignore: brands  # <--- ESTA LÃNEA ES LA CLAVE
